* {
	margin: 0;
	padding: 0;
	cursor: default;
	-webkit-user-select: none;
}

html,
body {
	height: 100%;
	font-size: 12vmin;
	overflow: hidden;
}

#digital-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#analog-container {
	height: 100%;
	position: relative;
}

#analog {
	height: 72vmin;
	width: 72vmin;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
