* {
	margin: 0;
	padding: 0;
	text-align: center;
}

input[type=text] {
	width: 60px;
	color: white;
	text-shadow: -1px -1px 0 black,
				  1px -1px 0 black,
				 -1px  1px 0 black,
				  1px  1px 0 black;
	text-align: center;
}

div {
	padding: 4px;
}